

<% if object.errors.any? %>
<div class="alert alert-danger alert-dismissible">
   <button type="button" class="close" data-dismiss="alert">&times;</button>
    <header>
      <h2>
        Oops! Your form could not be saved.
      </h2>
      <h3>
        Please correct the following
        <%= pluralize(object.errors.size, "error") %>:
      </h3>
    </header>
    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
    </div>
<% end %>
