<h1> Frequently Asked Questions </h1>
<p>
  <b> Why can't I pick the New England Patriots?
  </b>
</p>
<p>
  For the same reason you can't pick Oddjob in GoldenEye. When you have a team corrupt throughout, from the
  <%= link_to "pervy owner", "https://pagesix.com/2018/02/28/robert-krafts-much-younger-girlfriend-secretly-had-a-baby/" %>
  to the <%= link_to "ball delflating assistants", "https://www.sbnation.com/nfl/2015/9/14/9322381/deflategate-john-jastremski-jim-mcnally-patriots-employees" %>
  to the <%= link_to "cell phone destroying QB", "https://www.cbssports.com/nfl/news/judge-tom-bradys-defense-for-destroying-phone-makes-no-sense/" %>
  , you're going to rack up massive crime points.  It's cheating!
</p>
<p>
  <b> Why don't I see a crime I heard reported?
  </b>
</p>
<p>
  Relax! While we strive to crimes up as soon as possible, we're only human, Give it a day or two. If it's still not up email
  us at criminalfantasyfootball@gmail.com
</p>
<p>
  <b> Player X committed a crime in the offseason. Do I still get points for the crime and/or suspension if I draft their team?
  </b>
</p>
<p>
  I bet you'd also like to get that fire insurance after your house burns down. Unless the crime
  isn't disclosed until after the team is drafted. But if we all know it's coming, no points.
</p>
