<div class="container">
<table class="table">
  <thead>
  <tr>
    <th>Team</th>
    <th>Points</th>
    <th>Covid Cases</th>
  </tr>
  </thead>
  <tbody>
<% @nflteams.each do |nflteam| %>
  <tr>
  <td><%= link_to nflteam.name, nflteam %></td>
  <td><%= nflteam.total_points %></td>
  <td><%= nflteam.covid_total %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
